<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Recuperar Senha | me Salva!</title>
    <link rel="icon" href="IMG/icon.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>
</head>
<body>
    <center>
        <br><br>
        <h3>Não se preocupe, acontece com os melhores...</h3>
        <img src ="IMG/Vohiyo.png" height="150px" width="150px">
        <br><br>
    Digite abaixo o email usado na criação da conta:
    <br>
    <input type="email" size="45">
    <br><br>
    <button class="uk-button uk-button-secondary" type="submit">Enviar</button>
    <a href="../index.php" class="uk-button uk-button-secondary">Voltar</a>
    <br><br><br><br><br><br><br>
    v1.0.7 Iris Software Studio, Inc.
</center>
</body>
</html>